<!doctype html>
<html lang="en">
  <head>
    {{ $style := resources.Get "styles/tailwind.css" | resources.Minify | resources.Fingerprint }}
    <link rel="preload" href="{{ $style.RelPermalink }}" as="style">
    <link
      href="{{ $style.RelPermalink }}"
      rel="stylesheet"
      integrity="{{ $style.Data.Integrity }}"
      crossorigin="anonymous"
    />

    <title>{{ .Title }}</title>
    <link rel="icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Params.description }}" />
    <meta name="author" content="silentFellow, gowtham.s" />

    {{ $keywords := slice "silentfellow" "blogs" "silentfellow blogs" "silentfellow | blogs" "tech" "coding" "programming" "linux" "development" "tutorials" "open source" "software" "general" "lifestyle" "productivity" "reviews" "how-to" "guides" "tips" "personal" "opinion" }}
    {{ with .Params.tags }}
      {{ range . }}
      {{ $keywords = $keywords | append . }}
      {{ end }}
    {{ end }}
    {{ with .Params.keywords }}
      {{ range . }}
      {{ $keywords = $keywords | append . }}
      {{ end }}
    {{ end }}
    {{ $uniqueKeywords := $keywords | uniq }}
    <meta name="keywords" content="{{ with $uniqueKeywords }}{{ delimit . ", " }}{{ end }}" />
  </head>

  <body>
    <div
      class="min-h-screen max-w-4xl m-auto flex flex-col justify-between p-3 px-5"
    >
      {{ partial "header.html" . }}

      <main class="my-2 grow">
        {{ block "main" . }}{{ end }}
      </main>

      {{ partial "footer.html" . }}
    </div>
  </body>

  {{ if eq .RelPermalink "/search/" }}
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js" defer></script>
    <script src="/js/search.js" defer></script>
  {{ end }}
</html>
