{{ define "main" }}
  <div class="flex flex-col my-1 gap-5">
    <div class="flex flex-col gap-1">
      <h1 class="text-2xl font-bold">
        {{ .Title }}
      </h1>

      <div class="flex flex-wrap gap-3 text-sm">
        {{ $tags := .GetTerms "tags" }}
        {{ $totalTags := len $tags }}
        {{ range $i, $v := $tags }}
          <a class="tag" href="{{ $v.Permalink }}">
            <span class="capitalize">
              {{ $v.Name }}
            </span>
          </a>

          {{ if lt (add $i 1) $totalTags }}
            <span class="opacity-40">|</span>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <hr class="opacity-70">

    <article class="prose prose-invert max-w-full">
      {{ .Content }}
    </article>

    {{ partial "related-blogs.html" . }}
  </div>
{{ end }}
