<footer class="w-full py-6 text-sm text-secondary/80">
  <!-- Desktop Footer -->
  <div class="hidden sm:flex items-center justify-between">
    <!-- Left Section -->
    <div class="flex items-center gap-3">
      <a href="/sitemap.xml" target="_blank" class="hover:opacity-80"
        >Sitemap</a
      >
      <span class="opacity-40">|</span>
      <a href="/index.xml" target="_blank" class="hover:opacity-80">RSS Feed</a>
    </div>

    <!-- Right Section -->
    <div class="flex items-center gap-3">
      <a
        href="https://gowthams-portfolio.vercel.app"
        target="_blank"
        class="hover:opacity-80"
        >Portfolio</a
      >
      <span class="opacity-40">|</span>
      <a
        href="https://github.com/silentFellow"
        target="_blank"
        class="hover:opacity-80"
        >Github</a
      >
      <span class="opacity-40">|</span>
      <a
        href="https://linkedin.com/in/silentFellow"
        target="_blank"
        class="hover:opacity-80"
        >Linkedin</a
      >
      <span class="opacity-40">|</span>
      <a
        href="mailto:gowtham.sri+zohomail.in"
        target="_blank"
        class="hover:opacity-80"
        >Mail Me</a
      >
    </div>
  </div>

  <!-- Mobile CTA -->
  <div class="flex justify-center items-center sm:hidden mt-2">
    <a href="https://silentfellow.dev" target="_blank">
      Visit My Portfolio →
    </a>
  </div>
</footer>
