<li class="p-5 flex flex-col gap-3 bg-bg-accent rounded-md">
  <!-- Title + Date -->
  <div class="flex flex-col gap-1">
    <a
      href="{{ .url }}"
      class="text-xl font-bold tracking-wide hover:opacity-80 transition"
    >
      {{ .title }}
    </a>

    <time class="text-xs text-secondary/60">
      {{ .date }}
    </time>
  </div>

  <!-- Description -->
  <p class="text-sm leading-relaxed text-secondary/90">
    {{ .description }}
  </p>

  <!-- Tags -->
  <div class="flex flex-wrap gap-3 text-sm">
    {{ range $i, $v := .tags }}
    <a class="tag" href="{{ $v.Permalink }}">
      <span class="capitalize"> {{ $v.Name }} </span>
    </a>

    {{ if lt (add $i 1) $.totalTags }}
      <span class="opacity-40">|</span>
    {{ end }} {{ end }}
  </div>
</li>
